Amazon.Infra/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductStock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductStock" nillable="true" type="tns:ProductStock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductStock" nillable="true" type="tns:ArrayOfProductStock" />
  <xs:complexType name="ProductStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ammount" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductStock" nillable="true" type="tns:ProductStock" />
</xs:schema>